.DS_Store
.idea
.vscode
.pytest_cache
.nox
.env
.ipynb_checkpoints
__pycache__

/model/*/
!/model/

draft/test_copilotkit/my-copilot-app
draft/test_mcp/mcp-client
draft/test_mcp/weather

# test_mcp/weather
# test_mcp/mcp-client

test_qwen_agent/test.db
test_qwen_agent/workspace

test_rag/chroma_langchain_db

test_copilotkit/my-copilot-app

proj_arxiv

all.ipynb